DATABASE_URL="file:./prisma/dev.db"
ADZUNA_APP_ID=""
ADZUNA_APP_KEY=""
GREENHOUSE_BOARDS="sentinellabs,datadog,okta,taboola,redis,riskified"
LEVER_SITES="sentinelone,etoro,redis,superplay,appcard,meld,twingate,fairmatic,webflow"
